DB_EMPLOYEES_NAME=employees_db
DB_EMPLOYEES_USER=employees_service
DB_EMPLOYEES_PASSWORD=employees_local_password
DB_EMPLOYEES_HOST_PORT=5433

EMPLOYEES_HOST_PORT=8080
EMPLOYEES_LOG_LEVEL=info

DB_DEPARTMENTS_NAME=departments_db
DB_DEPARTMENTS_USER=departments_service
DB_DEPARTMENTS_PASSWORD=departments_local_password
DB_DEPARTMENTS_ROOT_PASSWORD=departments_root_password
DB_DEPARTMENTS_HOST_PORT=3307

DEPARTMENTS_HOST_PORT=8081
